@charset "UTF-8";
html, body {
	background: #c39e7a;
	color: #271f18;
}
 table { 
    width: 100%; 
    border: 4px double black; 
    border-collapse: collapse; 
   }
   th { 
    text-align: left; 
    background: #ccc; 
    padding: 5px; 
    border: 1px solid black; 
   }
   td { 
    padding: 5px; 
    border: 1px solid black; 
   }
   #contentdiv {
	   
	   width: 80%;
	   border: 1px solid;
	  
   }
    #headerdiv {
	height: 100px;
	border: 1px solid; 

	   
   }
   #prefooter {
	   height: 50px;
	   
   }
   #footerdiv {
	height: 50px;
	width: 80%;
	background: #271f18 ; 

   }
   #container {
	   width: 75%;

	   border: solid 5px;
   }

   a:hover {
	   color: #6c4b2d;
   }
   
   input.desc {
    width:  600px;
    height: 150px;
    padding: 5px 10px 5px 10px;
    border:1px solid #999;
    font-size:16px;
    font-family: Tahoma;
}
